{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tutoriel Django{% endblock %}</title>
</head>
<body>
<header>
    {% if user.is_authenticated %}
        <ul>
            <li>{{ user.get_full_name|default:user.username }}</li>
            <li><a href="{% url 'polls:logout' %}">Se déconnecter</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'polls:login' %}">Se connecter</a></li>
        </ul>
    {% endif %}

    {% block header %}Tutoriel Django{% endblock %}</header>
<main>{% block main %}{% endblock %}</main>

</body>
</html>